* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    background-color: #666;
}
  
nav a {
    color: #eee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav a:hover {
    color: #ffffff;
    background-color: #333;
}

.index__main {
    margin: 100px auto;
    text-align: center;
}

.index__main p, .index__main p i {
    margin-top: 10px;
}

.index__main p i {
    padding-right: 10px;
}

@media only screen and (min-width: 600px) {
    .index__main {
        width: 60%;
    }
}

@media only screen and (max-width: 599px) {
    .index__main {
        width: 100%;
    }
}

h1 span {
    color: crimson;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    list-style-type: none;
    text-align: center;
    padding: 10px;
    color: #eee;
    background-color: #444;
}